<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 角色管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            <a href="javascript:;" onclick="admin_role_multidel()" class="btn btn-danger radius">
                <i class="Hui-iconfont">&#xe6e2;</i> 批量删除
            </a>
            <a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add('添加角色','{:url("Admin/groupadd")}','900')">
                <i class="Hui-iconfont">&#xe600;</i> 添加角色
            </a>
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="5">角色列表</th>
        </tr>
        <tr class="text-c">
            <th width="25"><input type="checkbox" value="" name=""></th>
            <th width="40">ID</th>
            <th width="200">角色名</th>
            <th>描述</th>
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        <form id="formAjax">
            {foreach $list as $li}
            <tr class="text-c">
                <td><input type="checkbox" value="{$li.id}" name="check[]"></td>
                <td>{$li.id}</td>
                <td>{$li.title}</td>
                <td>{$li.desc}</td>
                <td class="f-14">
                    <a title="编辑" href="javascript:;" onclick="admin_role_edit('角色编辑','{:url("Admin/groupmod",array("gid"=>$li["id"]))}','1')" style="text-decoration:none">
                    <i class="Hui-iconfont">&#xe6df;</i>
                    </a>
                    <a title="删除" href="javascript:;" onclick="admin_role_del(this,{$li.id})" class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe6e2;</i>
                    </a>
                </td>
            </tr>
            {/foreach}
        </form>

        </tbody>
    </table>
</div>
<script type="text/javascript">
    var isclick = true
    /*管理员-角色-添加*/
    function admin_role_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*管理员-角色-编辑*/
    function admin_role_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*管理员-角色-删除*/
    function admin_role_del(obj,id){
        layer.confirm('角色删除须谨慎，确认要删除吗？',function(index){
            if(isclick) {
                isclick = false
                $.ajax({
                    type: 'POST',
                    url: '{:url("Admin/groupdel")}',
                    dataType: 'json',
                    data:{gid:id},
                    success: function(data){
                        if(data.code == 1) {
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!',{icon:1,time:1000});
                        }else {
                            layer.msg(data.data,{icon:2,time:1000});
                        }
                        isclick = true
                    },
                    error:function(data) {
                        console.log(data.msg);
                        layer.msg('接口请求失败',{icon:2,time:1000});
                        isclick = true
                    },
                });
            }
        });
    }

    function admin_role_multidel() {
        layer.confirm('角色删除须谨慎，确认要删除吗？',function(index){
            if(isclick) {
                isclick = false
                $('#formAjax').ajaxSubmit({
                    type: 'post',
                    url: "{:url('Admin/group_multidel')}" ,
                    success: function(data){
                        console.log(data)
                        if(data.code == 1) {
                            layer.msg('删除成功',{icon:1,time:1000},function () {
                                window.location.reload()
                            });
                        }else {
                            layer.msg(data.data,{icon:2,time:1000});
                            isclick = true
                        }
                    },
                    error: function(msg){
                        //console.log(JSON.parse(msg.responseText))
                        layer.msg('接口请求失败!',{icon:2,time:1000});
                        isclick = true
                    }
                });
            }

        })
    }
</script>