<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="cl pd-5 bg-1 bk-gray mt-20">
    <span class="l">
        <a href="javascript:;" onclick="admin_permission_del()" class="btn btn-danger radius">
            <i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
        <a href="javascript:;" onclick="admin_permission_add('添加权限节点','{:url("Admin/ruleadd")}','800','310')" class="btn btn-primary radius">
            <i class="Hui-iconfont">&#xe600;</i> 添加顶级节点</a>
    </span>
</div>

<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="formAjax">
        <div class="row cl">
            <div class="formControls col-xs-12 col-sm-12">
                {foreach $list as $li}
                <dl class="permission-list">
                    <dt>
                        <label>
                            <input type="checkbox" value="{$li.id}" name="check[]" id="user-Character-1">
                            {$li.title}({$li.name})
                        </label>
                        <span class="r">
                            <a onclick="admin_permission_add('添加子权限','{:url("Admin/ruleadd",array("pid"=>$li["id"]))}','1000','600')">
                                <i class="Hui-iconfont">&#xe600;</i> 添加子节点
                            </a>
                        </span>
                    </dt>
                    <dd>
                        <dl class="cl">
                            <dd>
                                {foreach $li['child'] as $v}
                                <label title="{$v.name}" style="display:inline-block;width: 180px;">
                                    <input type="checkbox" value="{$v.id}" name="check[]" id="user-Character-1-0-0">
                                    {$v.title}
                                </label>
                                {/foreach}
                            </dd>
                        </dl>
                    </dd>
                </dl>
                {/foreach}

            </div>
        </div>
    </form>
</article>


<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){
        $(".permission-list dt input:checkbox").click(function(){
            $(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
        });

    });
    var isclick = true;

    /*管理员-权限-添加*/
    function admin_permission_add(title,url,w,h){
        layer_show(title,url,w,h);
    }

    /*管理员-权限-删除*/
    function admin_permission_del(obj,id){
        layer.confirm('节点删除须谨慎，确认要删除吗？',function(index){
            if(isclick) {
                isclick = false
                $('#formAjax').ajaxSubmit({
                    type: 'post',
                    url: "{:url('Admin/ruledel')}" ,
                    success: function(data){
                        console.log(data)
                        if(data.code == 1) {
                            layer.msg('删除成功',{icon:1,time:1000},function () {
                                window.location.reload()
                            });
                        }else {
                            layer.msg(data.data,{icon:2,time:1000});
                            isclick = true
                        }
                    },
                    error: function(msg){
                        //console.log(JSON.parse(msg.responseText))
                        layer.msg('接口请求失败!',{icon:2,time:1000});
                        isclick = true
                    }
                });
            }

        })
    }
</script>
