<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 设备管理 <span class="c-gray en">&gt;</span> 订单列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <section id="formAjax">
        <div class="text-c">
            <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
            <input type="text" name="search" value="{$Think.get.search}" id="search" placeholder="输入信息" style="width:250px" class="input-text">
            <button name="" id="search-btn" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 查找订单</button>
        </div>
    </section>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="25">#</th>
            <th width="200">订单号</th>
            <th width="80">金额</th>
            <th width="80">数量</th>
            <th width="80">单价</th>
            <th>设备号</th>
            <th width="80">状态</th>
            <th width="130">支付时间</th>
            <th width="130">操作</th>
        </tr>
        </thead>
        <tbody>
        <form id="multi-check">
            {foreach $list as $li}
            <tr class="text-c userinfo">
                <td>{$li.id}</td>
                <td>{$li.pay_order_sn}</td>
                <td>{$li.total_price}</td>
                <td>{$li.num}</td>
                <td>{$li.unit_price}</td>
                <td>{$li.device_num}</td>
                <td class="td-status">
                    {if $li['refund_apply'] == 2}
                        <span class="label label-danger radius">已退款</span>
                    {else /}
                    {switch $li['status']}
                    {case 0}<span class="label label-warning radius">未支付</span>{/case}
                    {case 1}<span class="label label-success radius">已支付</span>{/case}
                    {default/}
                    {/switch}
                    {/if}
                </td>
                <td>
                    {if $li['pay_time']}
                    {$li.pay_time|date='Y-m-d H:i:s'}
                    {/if}
                </td>
                <td>
                    {if $li['refund_apply'] != 2}
                    <span>
                        <a title="退款" href="javascript:;" onclick="refund(this,{$li.id})">
                        <i class="Hui-iconfont">&#xe66b;</i>
                        </a>
                    </span>
                    {/if}
                </td>
            </tr>
            {/foreach}
        </form>

        <tr>
            <td colspan="9" id="page" class="text-r"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var url = '{:url("Tissue/orderList")}' + '?<?php echo $page["query"];?>',totalPage = '{$page.totalPage}';
    var curr = '{$page.curr}';
    if(totalPage > 1) {
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
            pages: totalPage, //通过后台拿到的总页数
            skip: false, //是否开启跳页
            skin: '#5a98de',
            curr: curr || 1, //当前页
            jump: function(obj, first){ //触发分页后的回调
                // console.log(obj)
                if(!first) {
                    window.location.href = url+'&page=' + obj.curr;
                }
            }
        });
    }

    $("#search-btn").click(function () {
        var search = $("#formAjax").find("#search").val();
        var str = '';
        if(search.length != 0) {
            str += 'search=' + search;
        }
        window.location.href = '{:url("Tissue/orderList")}' + '?' + str;
    });
    var isclick = true;

    function refund(obj,id) {
            layer.confirm('确认要退款吗？',function(index){
                if(isclick) {
                    isclick = false;
                    $.ajax({
                        url: "{:url('Tissue/orderRefund')}",
                        type: 'POST',
                        dataType: 'json',
                        data:{id:id},
                        success: function(data){
                            console.log(data);
                            if(data.code == 1) {
                                $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">已退款</span>');
                                $(obj).parent().remove();
                                layer.msg('已退款!',{icon:1,time:1000});
                            }else {
                                layer.msg(data.data,{icon:2,time:1000});
                            }
                            isclick = true;
                        },
                        error:function(data) {
                            layer.msg('接口请求失败',{icon:5,time:1000},function () {
                                isclick = true;
                            });
                        }
                    });
                }
            });

    }


</script>